# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
.venv/

# Data (IMPORTANT)
satark_data/

# OS
.DS_Store
# Next.js
web/.next/
web/node_modules/
web/.env.local
web/.env.production
web/.env.development
web/*.log
web/out/
